<form action="{{ path('almo_wallet_wallet_wallet_1') }}" method="post" {{ form_enctype(form) }}>

	{# {{ form_row(form.currencyId.title) }} #}
	{#
	{% for payment in form.payments %}
		* {{ form_row(payment.amount) }}
	{% endfor %}
	#}
	

    {{ form_widget(form) }}

    <input type="submit" />
</form>