{% extends 'default/index.html.twig' %}

{% block al_container_class %}
al_status
{% endblock al_container_class %}

{% block body %}

<div class="panel panel-default">
	<div class="panel-heading">Состояние счета</div>
	{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="alert-success alert">
		{{ flashMessage }}
	</div>
	{% endfor %}

	<div class="panel-body">
		<div class="list-group">
			{% for account in accounts %}
			<a
				class="list-group-item{% if account[0].accountId.id == app.request.get('accountId') %} active{% endif %}"
				href="{{ path('app_wallet_status', {'accountId': account[0].accountId.id })  }}">
				{{ account[0].accountId.title }} {{ account['total']|round(1) }} {{ account[0].currencyId.short }}
			</a>
			{% endfor %}
		</div>

		{% if payments is not empty %}
		
		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Наименование</th>
					<th>Тег</th>
					<th>Стоимость</th>
					<th>Дата</th>
				</tr>
			</thead>
			<tbody>
				{% for payment in payments %}
				<tr {% if payment.operationId.notice is not empty %}
					class="al_operation_needs_detail info" {% endif %}>
					<td><span>{{ payment.operationId.title }}</span></td>
					<td>{{ payment.operationId.tagId }}</td>
					<td>{{ payment.amount|round(1) }} {{ payment.currencyId.short }}</td>
					<td>{{ payment.operationId.date|date("Y-m-d H:i") }}</td>
				</tr>
				{% if payment.operationId.notice is not empty %}
				<tr class="al_operation_detail_row">
					<td colspan="4"><span class="glyphicon glyphicon-info-sign"
						aria-hidden="true"></span> <span>{{ payment.operationId.notice }}</span>
					</td>
				</tr>
				{% endif %}
				{% endfor %}
			</tbody>
		</table>
            {% if app.request.get('page') != 'all' %}
            <div class="navigation">
                {{ knp_pagination_render(payments) }}
            </div>
            {% endif %}
		{% endif %}
	</div>
</div>

{% endblock body %}